* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial sans-serif;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

#wrapper {
  width: 980px;
  height: auto;
  margin: 10px auto;
}

#header {
  width: 980px;
  height: 400px;
  position: relative;
}

/* #header .slide-banner {
  display: none;
} */

.prev-slider, .next-slider {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  padding: 15px;
  margin-top: -22px;
}

.prev-slider {
  left: 0px;
}

.prev-slider:hover {
  background: #78b43d;
  font-size: 20px;
}

.next-slider {
  right: 0px;
  font-size: 20px;
}

.next-slider:hover {
  background: #78b43d;
}

.text {
  color: #ffff;
  font-size: 18px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
}

#dot-contain {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 90%;
}

.dotted {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #78b43d;
  margin-left: 8px;
}

/* MENU */
#menu {
  width: 980px;
  height: 50px;
  background: #78b43d;
}

#logo {
  float: left;
  margin-top: 6px;
  width: 75px;
  border-right: 1px solid #90c95a;
}

#logo img {
  width: 65px;
  margin-left: 4px;
}

.menu-child:hover #sub-menu {
  display: block;
}

.menu-child img {
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

.menu-child span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 4px;
  color: #ffffff;
  font-family: Arial;
  font-weight: 500;
}

/* MENU CON */
ul #sub-menu {
  width: 195px;
  height: auto;
  background: #aad862;
  position: absolute;
  top: 50px;
  display: none;
}

ul #sub-menu > li {
  list-style: none;
  border-bottom: 1px solid #78b43d;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  position: relative;
}

ul #sub-menu > li:hover {
  background: #78b43d;
  color: #ffffff;
}

/* KT MENU CON */

#menu > ul {
  padding: 0;
  width: 905px;
  height: 50px;
  float: left;
}

#menu > ul > li {
  list-style: none;
  display: inline-block;
  float: left;
  height: 50px;
  width: 90.5px;
  padding-top: 6px;
  position: relative;
}

#menu > ul > li:hover {
  background: #609a26;
}

/* MENU CHÃU */
 #sub-menu-child {
  position: absolute;
  left: 195px;
  top: 0px;
  width: 195px;
  background: #aad862;
}

#sub-menu-child > li {
  list-style: none;
  border-bottom: 1px solid #78b43d;
  padding-left: 10px;
}


#sub-menu-child > li {
  display: none;
}

ul #sub-menu-child > li:hover {
  background: #609a26;
  color: #ffffff;
}

.menu-child #sub-menu li:hover #sub-menu-child li  {
  display: block;
  color: #000;
}

/* CONTAINER */
#container {
  width: 980px
  height: 1000px;
}

.contain {
  /* background: #ccc; */
  min-height: 300px;
  display: flex;
}

.left-contain {
  width: 70%;
  min-height: 1000px;
  display: flex;
  padding-top: 10px;
}

.left-contain-child, .right-contain-child {
  width: 500%;
}

.left-contain-child {
  padding-left: 2px;
}

.left-contain-child li {
  line-height: 4vh;
}

.left-contain-child li:hover {
  cursor: pointer;
}

.contain-picture p{
  padding-left: 10px;
}

.start-text {
  background: #eaf8d2;
}

.start-text::before, .end-text::before {
  content: "- ";
}

.end-text {
  background: #d5ecab;
}

.left-contain-child ul li {
  list-style: none;
}

.contain-picture {
  display: flex;
}

.right-contain {
  width: 30%;
  min-height: 300px;
}

.right-contain img {
  margin-left: 3px;
}

/* END CONTAINER */

#footer {
  width: 980px;
  height: 50px;
  background: #78b43d;
  color: #ffffff;
}

#footer p {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  float: left;
  padding-left: 10px;
  width: 40%;
}

#footer ul{
  height: 50px;
  width: 60%;
  margin: 0;
  float: left;
}

#footer ul li {
  float: right;
  list-style: none;
  line-height: 50px;
  font-size: 18px;
  margin-right: 10px;
  padding-right: -5px;
}

#footer ul li::after {
  content: "|";
}

#footer ul li a {
  color: #ffffff;
}
